.fa, .fab {
    positive: relative;
    display: table-cell;
    width: 60px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;

}

.menu:hover, nav.menu.expanded {
    width: 250px;
    overflow: visible;
}

.menu {
    background: #212121;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 1500px;

    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.menu>ul {
    margin: 15px 0;
}

.menu li {
    positive: relative;
    display: block;
    width: 250px;
    margin-bottom: 50px;

}

.menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;

    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}

.menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
      font-family: 'Titillium Web', sans-serif;
}


.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}


.menu li:hover>a,nav.menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
/*background-color:#5fa2db;*/
}
.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}


.page-title {
    margin-left: 22%;
}

.page-title > h1 {
    color: #212121;
    font-family: arial;
}

.info-container, .relationships-container {

    margin-left: 20%;
    margin-right: 250px;
    margin-bottom: 100px;

}


.summary-container, .missing-container, .sample-container, .rel-sub-container  {
    border-bottom: 1px solid black;
    
    margin: 0 20px 20px 20px;
    height: 300px;
    max-width: 1000px;
    min-width: 400px;

}

.rel-sub-container {
    height: 500px;
}

.summary-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 400px;

}

.summary-sub {

    width: 400px;
    min-width: 200px;
}

.info-sub-title {
    font-family: arial;
    margin-top: 0.5em;
}

.missing-title {
    margin-left: 20px;
}

table {
    font-family: arial;
    border-spacing:0;
    width: 100%;
    padding-left: 5%;
}

tr, td {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

td {
    padding-top: 10px;
    padding-bottom: 10px;

}

.td-label {
    color: rgba(33, 33, 33, 0.8);
    font-weight: bold;
}

.td-value {
    color: rgba(33, 33, 33, 0.8);
}

tr:hover {
    background-color: rgba(33, 33, 33, 0.1);
}

.sample-container {
    /*display: table;*/
    /*padding-left: 5%;*/
    padding-right: 40px;
    max-width: 960px;
}

.sample-head-tbl, .sample-tail-tbl {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin-right: 20px;
    font-size: 12px;
}

.sample-head-tbl td {
    padding: 20px 20px 8px 8px;
    text-align: center;
    vertical-align: middle;
}

.sample-tail-tbl td  {
    padding: 20px 20px 8px 8px;
    text-align: center;
    vertical-align: middle;
}

.sample-head-tbl th {
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
}

.sample-tail-tbl th {
    padding-left: 10px;
}

.variable-view-controller {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    height: 150px;

    /*border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;*/

}

.variable-select {
    visibility: visible;
    display: block;
    margin-left: 25px;
    margin-top: 10px;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    font-family: arial;
}

.variable-title {
    font-family: arial;
    margin-left: 25px;

}

.wrapper{
  display: inline-flex;
  height: 30px;
  width: 270px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 5px 15px;
}

.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #212121;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}




input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #212121;
  background: #212121;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-family: arial;
  font-size: 18px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}

.wrapper-data-sel{
  display: block-flex;
  height: 30px;
  width: 270px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 5px 15px;
  /*visibility: hidden;*/
}

.wrapper-data-sel .option{
  background: #fff;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  margin-left: 20px;
}

.wrapper-data-sel .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.wrapper-data-sel .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #212121;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}


#option-overview:checked:checked ~ .option-overview,
#option-stats:checked:checked ~ .option-stats{
  border-color: #212121;
  background: #212121;
}
#option-overview:checked:checked ~ .option-overview .dot,
#option-stats:checked:checked ~ .option-stats .dot{
  background: #fff;
}
#option-overview:checked:checked ~ .option-overview .dot::before,
#option-stats:checked:checked ~ .option-stats .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper-data-sel .option span{
  font-family: arial;
  font-size: 10px;
  color: #808080;
}
#option-overview:checked:checked ~ .option-overview span,
#option-stats:checked:checked ~ .option-stats span{
  color: #fff;
}

.overview-btn, .stats-btn {
  border-radius: 5px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  color: white;
  font-family: arial;
  height: 30px;
  width: 90px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.overview-btn {
    background: #212121;
}

.stats-btn {
    background: #fff;
    color: #808080;
    border: 2px solid lightgrey;
}





.variable-container {
    /*border: 1px solid black;*/

    border-bottom: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    height: 250px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
}


.variable-sub-container {
    /*border-right: 1px solid black;*/
}

.variable-name {
    font-family: arial;
    margin-left: 5px;
}

.variable-type {
    font-family: arial;
    margin-left: 5px;
    font-weight: normal;
    color: gray;
    text-transform: capitalize;
}

.var-overview {
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    height: 30px;
    border-radius: 5px;
    font-family: arial;
    padding: 10px 10px 10px 10px;
}

.var-overview:hover {
    background: #212121;
    color: white;
}

.var-sum {
    width: 20%;
}

.var-sum-2 {
    width: 27%;
}

.var-sum-3 {
    width: 27%;
}

.var-sum-4 {
    width: 27%;
}

.variable-table {
    margin-top: 10%;

}

.td-label-var, .td-value-var {
    font-size: 10px;
}