<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
        <script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>

    <body>
    <nav class="menu">
        <ul>
            <li>
                <a href="/load">
                    <i class="fa fa-upload fa-2x nav-icon"></i>
                    <span class="nav-text">Load Data</span>
                </a>
            </li>
            <li>
                <a href="/overview">
                    <i class="fa fa-list fa-2x nav-icon"></i>
                    <span class="nav-text">Overview</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="/variables">
                    <i class="fa fa-chart-bar fa-2x nav-icon"></i>
                    <span class="nav-text">Variables</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="/relationships">
                    <i class="fab fa-uncharted fa-2x nav-icon"></i>
                    <span class="nav-text">Relationships</span>
                </a>
            </li>
        </ul>
    </nav>


    <main class="main-container">
        {% block main %}{% endblock %}
    </main>

    </body>
</html>