{% extends "base_template.html" %}
{% block main %}
    <div class="page-title">
        <h1>Overview</h1>
    </div>

    <div class="info-container">
        <div class="summary-container">
            <div class="summary-sub key-stats">
                <h3 class="info-sub-title">Key stats</h3>
                <table class="info-table">
                    <tr>
                        <td class="td-label">Number of rows</td>
                        <td class="td-value">-</td>
                    </tr>
                    <tr>
                        <td class="td-label">Number of variables</td>
                        <td class="td-value">-</td>
                    </tr>
                    <tr>
                        <td class="td-label">Missing Values</td>
                        <td class="td-value">-</td>
                    </tr>
                    <tr>
                        <td class="td-label">Missing Values (%)</td>
                        <td class="td-value">-</td>
                    </tr>
                    <tr>
                        <td class="td-label">Duplicate Rows</td>
                        <td class="td-value">-</td>
                    </tr>
                    <tr>
                        <td class="td-label">Duplicate Rows (%)</td>
                        <td class="td-value">-</td>
                    </tr>
                </table>
            </div>
            <div class="summary-sub var-meta">
                <h3 class="info-sub-title">Variable info</h3>
                <table class="info-table">
                    <tr>
                        <td class="td-label">Numeric</td>
                        <td class="td-value">-</td>
                    </tr>
                    <tr>
                        <td class="td-label">Categorical</td>
                        <td class="td-value">-</td>
                    </tr>

                </table>
            </div>


        </div>
        <div class="missing-container">
            <h3 class="info-sub-title missing-title">Missing Values</h3>

        </div>
        <div class="sample-container">
            <h3 class="info-sub-title missing-title">Head</h3>
            <div class="table-container-head"></div>

        </div>

    </div>
    <script>

        const loadOverviewData = () => {
            try {
                const overview =JSON.parse('{{overview | tojson | safe}}');
                return overview
            } catch(err) {
                console.log(`Data load failed with ${err}`);
                return null
            }
        }

        const overview = loadOverviewData();

    </script>
    {{JSGlue.include()}}
    <script src="{{url_for('static', filename='overview.js')}}"></script>



{% endblock %}